@import 'variables';
@import 'mixins';

.content {
    padding-top: $gutter;
    padding-left: $gutter;
    padding-right: 0;
}

.tv-card {
    height: 550px;
    margin-bottom: $gutter;
}

@include screen(md) {
    .tv-card {
        height: 500px;
    }
}

@include screen(xs) {
    .content {
        padding-right: $gutter;
    }

    .tv-card {
        height: 100%;
    }
}
