<!-- <p>tvs-page works!</p> -->

<div class="content">
    <div  fxLayout.xs="column" fxLayout="row wrap" fxLayoutGap="24px">
        <app-tv-card fxFlex.sm="0 1 calc(50%-24px)" fxFlex.md="0 1 calc(50%-24px)" fxFlex.lg="0 1 calc(33.33%-24px)" fxFlex.xl="0 1 calc(25%-24px)" class="tv-card" [tv]="tv"></app-tv-card>
        <app-tv-card fxFlex.sm="0 1 calc(50%-24px)" fxFlex.md="0 1 calc(50%-24px)" fxFlex.lg="0 1 calc(33.33%-24px)" fxFlex.xl="0 1 calc(25%-24px)" class="tv-card" [tv]="tv"></app-tv-card>
        <app-tv-card fxFlex.sm="0 1 calc(50%-24px)" fxFlex.md="0 1 calc(50%-24px)" fxFlex.lg="0 1 calc(33.33%-24px)" fxFlex.xl="0 1 calc(25%-24px)" class="tv-card" [tv]="tv"></app-tv-card>
        <app-tv-card fxFlex.sm="0 1 calc(50%-24px)" fxFlex.md="0 1 calc(50%-24px)" fxFlex.lg="0 1 calc(33.33%-24px)" fxFlex.xl="0 1 calc(25%-24px)" class="tv-card" [tv]="tv"></app-tv-card>
        <app-tv-card fxFlex.sm="0 1 calc(50%-24px)" fxFlex.md="0 1 calc(50%-24px)" fxFlex.lg="0 1 calc(33.33%-24px)" fxFlex.xl="0 1 calc(25%-24px)" class="tv-card" [tv]="tv"></app-tv-card>
    </div>
</div>
