@import 'mixins';

.header {
    justify-content: space-between;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
}

.title {
    font-variant: small-caps;
}

.title-small-screen {
    flex: auto;
    margin-left: 32px;
}

.toolbar-icon {
    cursor: pointer;
    margin-top: 8px;
}

.toolbar-icon:not(:last-child) {
    margin-right: 24px;
}

.mat-sidenav {
    padding-top: 16px;
    width: 250px;
}

.mat-nav-list .mat-list-item {
    font-size: 15px;
}

.nav-tool-items {
    display: inline-block;
    margin-right: 13px;
}

.mat-sidenav .mat-icon {
    margin-right: 12px;
}

@include screen(LG) {
    .mat-sidenav {
        width: 230px;
    }

    .mat-nav-list .mat-list-item {
        font-size: 14px;
    }
}

@include screen(MD) {
    .nav-tool-items {
        margin-right: 0;
    }

    .hamburger {
        visibility: visible !important;
    }
}

.actions-toolbar {
    height: 48px;
    overflow: hidden;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
}

.actions-toolbar mat-divider {
    height: 32px;
    margin-top: 4px;
}

.page-content {
    // Hack to make the section full height
    // There might be a cleaner way to do it
    height: calc(100vh - 64px - 48px);
}
