<mat-toolbar color="primary" class="header">
    <div>
        <mat-icon class="toolbar-icon">menu</mat-icon>
    </div>
    <div class="title" [ngClass]="isSmallScreen() ? 'title-small-screen' : ''">Kiosk</div>
    <div>
        <mat-icon class="toolbar-icon" matTooltip="Show toolbar">expand_more</mat-icon>
        <mat-icon class="toolbar-icon" matTooltip="Log out" (click)="logout()">exit_to_app</mat-icon>
        <mat-icon class="toolbar-icon" matTooltip="Settings" (click)="openSettings()">settings</mat-icon>
    </div>
</mat-toolbar>

<p>main-layout works!</p>
