<mat-toolbar color="primary" class="header">
    <div>
        <mat-icon class="toolbar-icon hamburger" (click)="sideNav.toggle()">menu</mat-icon>
    </div>
    <div class="title" [ngClass]="isSmallScreen() ? 'title-small-screen' : ''">Kiosk</div>
    <div>
        <mat-icon *ngIf="actionsEnabled$ | async" class="toolbar-icon" [matTooltip]="actionsToolbarExpanded ? 'Hide actions' : 'Show actions'" (click)="toggleActionsToolbar()">{{ actionsToolbarExpanded ? 'expand_less' : 'expand_more' }}</mat-icon>
        <mat-icon class="toolbar-icon" matTooltip="Log out" (click)="logout()">exit_to_app</mat-icon>
        <mat-icon class="toolbar-icon" matTooltip="Settings" (click)="openSettings()">settings</mat-icon>
    </div>
</mat-toolbar>

<mat-sidenav-container fullscreen>
    <mat-sidenav #sideNav [mode]="isSmallScreen() ? 'over' : 'side'" [(opened)]="sideNavOpened" [fixedInViewport]="true"
    [fixedTopGap]>
        <mat-nav-list>
            <a *ngFor="let i of NAV_ITEMS" mat-list-item [routerLink]="i.link" routerLinkActive="active">
                <mat-icon>{{ i.icon }}</mat-icon> {{ i.title }}
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar class="actions-toolbar" [@expandActionsToolbar]="actionsToolbarExpanded ? 'expanded' : 'collapsed'">
            <div fxLayoutAlign="start stretch" fxLayoutGap="16px">
                <div *ngFor="let el of actions$ | async" [ngSwitch]="el.type">
                    <ng-template ngSwitchCase="divider">
                        <mat-divider vertical="true"></mat-divider>
                    </ng-template>
                    <ng-template ngSwitchCase="button">
                        <button mat-icon-button [matTooltip]="el.tooltip" (click)="el.action()" [color]="el.color" [disabled]="el.disabled">
                            <mat-icon>{{ el.icon }}</mat-icon>
                        </button>
                    </ng-template>
                </div>
            </div>
        </mat-toolbar>

        <section class="page-content" [@adjustContentHeight]="actionsToolbarExpanded ? 'expanded' : 'collapsed'">
            <router-outlet></router-outlet>
        </section>
    </mat-sidenav-content>
</mat-sidenav-container>
