@import 'variables';

.mat-card {
    display: inline-block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    z-index: 50;

    .thumbnail {
        width: 192px;
        height: 108px;
        float: left;
        margin-right: 16px;
        border-radius: $radius;
    }

    .header {
        .mat-card-title .mat-icon {
            float: right;
            margin-top: -4px;
        }

        .mat-card-subtitle {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            height: 20px;
            max-width: 500px;

            &.clickable:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }

        a {
            display: none;
        }
    }

    .description {
        text-align: justify;
        height: 40px;
        overflow-y: auto;

        &.italic {
            font-style: italic;
        }
    }

    .mat-card-actions {
        margin-top: 8px;

        .mat-chip-list {
            margin-left: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
