<h1 mat-dialog-title>Settings</h1>
<div mat-dialog-content>
    <form #settingsForm="ngForm">
        <h3>General</h3>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="24px" fxLayoutGap.xs="0px">
            <mat-form-field fxFlex="33.33%">
                <mat-label>Theme</mat-label>
                <mat-select name="theme" [(ngModel)]="settings.theme">
                    <mat-option *ngFor="let t of THEMES" [value]="t">{{ t | titlecase }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="33.33%">
                <mat-label>Locale</mat-label>
                <mat-select name="locale" [(ngModel)]="settings.locale" disabled>
                    <mat-option *ngFor="let l of LOCALES" [value]="l">{{ localeName(l) }}</mat-option>
                </mat-select>
                <mat-hint align="end">Currently not supported.</mat-hint>
            </mat-form-field>
            <mat-checkbox fxFlex="33.33%" [(ngModel)]="settings.snacksEnabled" name="snacks-enabled" labelPosition="before" class="labeled-checkbox">Notifications</mat-checkbox>
        </div>

        <h3>Screen actions</h3>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="24px" fxLayoutGap.xs="0px">
            <div fxFlex="33.33%">
                <app-labeled-slider [(ngModel)]="settings.identifyDuration" name="identify-duration" min="500" max="10000" step="100" label="Identification" unit="ms"></app-labeled-slider>
            </div>
            <div fxFlex="33.33%">
                <app-labeled-slider [(ngModel)]="settings.forwardDuration" name="forward-duration" min="500" max="10000" step="100" label="Forward step" unit="ms"></app-labeled-slider>
            </div>
            <div fxFlex="33.33%">
                <app-labeled-slider [(ngModel)]="settings.rewindDuration" name="rewind-duration" min="500" max="10000" step="100" label="Rewind step" unit="ms"></app-labeled-slider>
            </div>
        </div>

        <h3>Information</h3>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="24px" fxLayoutGap.xs="0px">
            <mat-form-field fxFlex="100%">
                <input matInput placeholder="Client Key" value="secret" [type]="hideClientKey ? 'password' : 'text'" disabled>
                <button mat-icon-button matSuffix (click)="hideClientKey = !hideClientKey" [attr.aria-label]="'Hide Client key'" [attr.aria-pressed]="hideClientKey">
                    <mat-icon>{{hideClientKey ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-hint align="end">Authentication key for screens.</mat-hint>
            </mat-form-field>
        </div>
    </form>
</div>
<div mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button color="accent" [mat-dialog-close]="settings">Save</button>
</div>
