@import '~@angular/material/theming';

// Customize the style (according to the theme)
@mixin tv-card-component-theme($theme) {
    $foreground: map-get($theme, foreground);

    .mat-card-content div.details {
        color: mat-color($foreground, secondary-text)
    }

    .mat-card-content div.details span.info:hover {
        color: mat-color($foreground, text);
    }

    .mat-icon.down-status {
        color: mat-color($foreground, disabled-button);
    }
}
