.instructions {
    text-align: justify;
}

.uri-analysis {
    width: 80%;
}

.analyse-button {
    float: right;
    height: 100%;
    margin-top: (56.56px - 36px) / 2;
}

.mat-dialog-content {
    height: 370px;
}
