<h1 mat-dialog-title>Add a new screen</h1>
<div mat-dialog-content>
    <mat-horizontal-stepper labelPosition="bottom" #stepper>
        <mat-step [stepControl]="firstFormGroup" label="Base" state="base">
            <form>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="24px" fxLayoutGap.xs="0px">
                    <mat-form-field fxFlex="33.33%">
                        <input matInput #tvID maxLength="32" placeholder="ID" [(ngModel)]="tv.id" name="tv-id" pattern="[a-zA-Z0-9\-_]+" required>
                        <mat-hint><b>Alphanumeric.</b></mat-hint>
                        <mat-hint align="end">{{ tvID.value.length }} / 32</mat-hint>
                    </mat-form-field>
                    <mat-form-field fxFlex="66.67%">
                        <mat-label>Display name</mat-label>
                        <input matInput #displayName maxLength="64" [placeholder]="tv.id" [(ngModel)]="tv.displayName" name="display-name"/>
                        <mat-hint><b>Defaults to ID</b></mat-hint>
                        <mat-hint align="end">{{ displayName.value.length }} / 64</mat-hint>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="24px" fxLayoutGap.xs="0px">
                    <mat-form-field fxFlex="50%">
                        <mat-label>Group</mat-label>
                        <mat-select [(ngModel)]="tv.group" name="group">
                            <mat-option [value]="null">None</mat-option>
                            <mat-option *ngFor="let g of (groups$ | async)" [value]="g.id">{{ g.displayName }}</mat-option>
                        </mat-select>
                        <mat-hint><b>No group by default</b></mat-hint>
                    </mat-form-field>
                    <mat-form-field fxFlex="50%">
                        <mat-label>Content</mat-label>
                        <mat-select [(ngModel)]="tv.content" name="content">
                            <mat-option [value]="null">None</mat-option>
                            <mat-optgroup *ngFor="let entry of (contentsByType$ | async) | keyvalue" [label]="prettifyContentType(entry.key)">
                                <mat-option *ngFor="let c of entry.value" [value]="c.id">{{ c.displayName }}</mat-option>
                                <mat-option *ngIf="!entry.value.length" disabled>No content</mat-option>
                            </mat-optgroup>
                        </mat-select>
                        <mat-hint><b>No content by default</b></mat-hint>
                    </mat-form-field>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" label="Extra" state="extra" optional>
            <form>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="24px" fxLayoutGap.xs="0px">
                    <mat-form-field fxFlex="100%">
                        <textarea matInput class="description" placeholder="Description" rows="4" [(ngModel)]="tv.description" name="description"></textarea>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="24px" fxLayoutGap.xs="0px">
                    <div fxFlex="50%">
                        <app-labeled-slider [(ngModel)]="tv.volume100" name ="volume" min="0" max="100" step="1" label="Volume" unit="%" [disabled]="tv.muted"></app-labeled-slider>
                    </div>
                    <div fxFlex="50%">
                        <app-labeled-slider [(ngModel)]="tv.brightness100" name ="brightness" min="0" max="100" step="1" label="Brightness" unit="%"></app-labeled-slider>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="24px" fxLayoutGap.xs="0px">
                    <mat-checkbox fxFlex="50%" [(ngModel)]="tv.muted" name="muted" labelPosition="before" class="labeled-checkbox">Mute</mat-checkbox>
                    <mat-checkbox fxFlex="50%" [(ngModel)]="tv.showTitle" name="show-title" labelPosition="before" class="labeled-checkbox">Show title</mat-checkbox>
                </div>
            </form>
        </mat-step>

        <ng-template matStepperIcon="base">
            <mat-icon>flag</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="extra">
            <mat-icon>add</mat-icon>
        </ng-template>
    </mat-horizontal-stepper>
</div>
<div mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button color="accent" [disabled]="!tv.id" [mat-dialog-close]="tv">Add</button>
    <button [disabled]="!hasPrevious(stepper)" mat-icon-button (click)="stepper.previous()">
        <mat-icon>skip_previous</mat-icon>
    </button>
    <button [disabled]="!hasNext(stepper)" mat-icon-button (click)="stepper.next()">
        <mat-icon>skip_next</mat-icon>
    </button>
</div>
