@import '~@angular/material/theming';

// Customize the style (according to the theme)
@mixin labeled-slider-component-theme($theme) {
    $primary: map-get($theme, primary);
    $foreground: map-get($theme, foreground);
    $is-dark-theme: map-get($theme, is-dark);

    $label-color: mat-color($foreground, secondary-text, if($is-dark-theme, 0.7, 0.6));
    // $focused-label-color: mat-color($primary, text);
    $focused-label-color: mat-color($foreground, divider, if($is-dark-theme, 1, 0.87));
    $disabled-label-color: mat-color($foreground, divider, if($is-dark-theme, 0.7, 0.42));

    .labeled-slider {
        .header {
            color: $label-color;
        }

        &:hover .header {
            color: $focused-label-color;
        }
    }

    .labeled-slider-disabled .header {
        color: $disabled-label-color !important;
    }
}
