@import 'variables';

* {
    &:active,
    :focus {
      outline: none !important;
    }
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.mat-card {
    border-radius: $radius !important;
}

.mat-button,
.mat-raised-button,
.mat-stroked-button,
.mat-flat-button {
    text-transform: uppercase;
}

.mat-dialog-container {
    border-radius: $radius !important;
}
