@import 'variables';
@import 'mixins';

* {
    &:active, :focus {
      outline: none !important;
    }
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.mat-card {
    border-radius: $radius !important;
}

.mat-button,
.mat-raised-button,
.mat-stroked-button,
.mat-flat-button {
    text-transform: uppercase;
}

.mat-dialog-container {
    border-radius: $radius !important;
}

.mat-snack-bar-container {
    border-radius: $radius !important;
}

// Make dialogs full screen on small screens
@include screen(xs) {
    .mat-dialog-container {
        border-radius: 0 !important;
    }

    .mat-dialog-content {
        min-height: calc(100% - 96px);
    }

    .mat-dialog-container {
        height: 100% !important;
        max-height: 100vh !important;
        width: 100% !important;
        max-width: 100vw !important;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.mat-select-panel {
    border-radius: $radius !important;
}

.mat-menu-panel {
    border-radius: $radius !important;
}
