$breakpoints: (
    xs: 600px,
    sm: 960px,
    md: 1280px,
    lg: 1920px,
    xl: 5000px
);

$radius: 2px;
$gutter: 24px;

// From Angular Material source code
$mat-toolbar-height-desktop: 64px !default;
$mat-toolbar-height-mobile: 56px !default;

$kiosk-actions-toolbar-height: 48px;
